<p style="color: green"><%= notice %></p>

<h1>Lista de Amigos</h1>

<div id="friends">
  <table class="table table-success table-striped table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Correo Electrónico</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Cuenta de Twitter</th>
      <th scope="col">Ver Detalle</th>
    </tr>
    </thead>
    <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <th scope="row"><%= friend.first_name %></th>
        <td><%= friend.last_name %></td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
        <td>
          <p>
            <%= link_to "Ver Detalle", friend %>
          </p>
        </td>
      </tr> 
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Crear Nuevo Amigo", new_friend_path, class: "btn btn-secondary" %>
